
    
    .parent {background-color: #F1F3FF;}
                .title-header{width: 100px; height: 34px; background-color: blue;}
    
    .hero2 {
        background-color:white;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    
    .custom-button{
      background-color: #5CB85F;  
      padding: 8px 12px;
      border-radius: 2px;
      color: #ffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
    
    
    .card-body1 {
        margin: 30px 60px 30px 60px;
        font-weight: 700;
    }
    
    .card-title1{
        line-height: 24px;
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif
    }
    
    .card-paragraph1{
        line-height: 20px;
        font-size: 14px;
        font-family:Arial, Helvetica, sans-serif
    }
    
    .card-container1{
        margin: 0px 60px 0px 60px ;
    }
    
    .card-body2{
        padding: 30px 60px 30px 60px ;
    }
    
    .card-whyus img {
        padding-bottom: 25px;
    }
    
    
    .title-sewamobil h1 {
    font-weight: 700;
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif
    }
    
    .custom-button1{
        background-color: #5CB85F;  
        padding: 8px 12px;
        border-radius: 2px;
        color: #ffff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
      }

      .title-sewamobil { 
        background-color: #0D28A6;
        color: white;
        border-radius: 16px;
        width: 80%;
        padding: 100px;
    }

    .FAQ-text h1 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        font-family:Arial, Helvetica, sans-serif
    }
    
    .FAQ-text p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        font-family:Arial, Helvetica, sans-serif
    }

    .dropdown button{
    
       background-color: white;
       border: 1px solid #D4D4D4;
       color: black;
       width: 35rem;
       margin-left: 30px;
       margin-top: 16px;
       text-align: left;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 15px;
              }


    
     @media only screen and (min-width: 300px) and (max-width: 756px) {
    
        .hero{
            flex-direction: column
        }
        
        .hero2 {
            flex-direction: column;
        }
         .card-container1{
            flex-direction: column;
         }
    
    
        .card-body1{
            width: auto;
        }
    
         .img-fit {
            width: 100%;
            height: 100%;
        }
    
         .card-body2{
            flex-direction: column;
         }
    
         .card-testimonial-text{
         text-align: center;
         }
         
         .FAQ-container {
            flex-direction: column;
         }

         .FAQ-text{
           text-align: center;
           margin-top: 10px;
         }

         .dropdown button{
            width: 28rem;
            padding-right: 20px;
         }


    }
